@charset "UTF-8";
.website-map{
  min-height: 300px;
}
.menu-list{
  padding-bottom: 15px;
  .menu-info-item{
    .menu-title{
      line-height: 44px;
      height: 44px;
      font-size: 18px;
      color: #414141;
    }
    .submenu-info-list{
      .submenu-info-item{
          display: inline-block;
          a{
            text-align: left;
            display: inline-block;
            padding: 5px 20px 5px 0px;
            font-size: 12px;
            color:#414141;

            &:link {
              color: #414141;
            }
            &:visited {
              color: #414141;
            }
            &:hover {
              color: $primary-color;
            }
            &:active {
              color: $primary-color;
            }
          }
      }
    }
  }
}
